@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.tema_teste{
    color: white
}

:root {

    --font-titulo: "Inter", sans-serif;
    --font-texto: "Open Sans", sans-serif;

    --cor-de-fundo: #0B1C26;
    --cor-de-fundo-card: #112A36;
    --cor-de-fundo-card-hover: #163746;
    --cor-de-titulo: #C7D0D9;
    --cor-de-texto: #9FB0BC;
    --cor-do-botao: #00FF9C;
    --cor-do-botao-hover: #007ACC;
    --cor-da-fonte-botao: #102A38;
    --cor-da-fonte-botao-hover: #FFFFFF;

}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-texto);
    color: var(--cor-de-texto);
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--cor-de-texto);
    padding-top: 3.125rem;
}

header {
    background-color: var(--cor-da-fonte-botao);
}

section{
    background-color: var(--cor-de-fundo-card);
    box-sizing: border-box;
    border: 1px solid var(--cor-do-botao-hover);
}

section:hover{
    background-color: var(--cor-de-fundo-card-hover);
    box-shadow: 5px 5px 10px var(--cor-do-botao-hover);
}

em{
    color: var(--cor-do-botao);
    font-weight: 500;
    text-shadow: 0 0 6px rgba(0, 255, 156, 0.25);
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.348rem;
    letter-spacing: 0.19rem;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-transform: uppercase;
    color: var(--cor-de-titulo);
}

h2 {
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-transform: uppercase;
    text-align: center;
    color: var(--cor-de-titulo);
}

h3 {
    font-family: var(--font-titulo);
    color: #F2F2F2;
    text-align: center;
    color: var(--cor-de-titulo);
}

h4 {
    color: var(--cor-de-titulo);
}

a {
    cursor: pointer;
    text-decoration: none;
}

button {
    cursor: pointer;
    height: auto;
    width: auto;
    font-size: 1.25rem;
    border-radius: 0.75rem;
    font-family: var(--font-texto);
    color: var(--cor-de-fundo);
    background-color: var(--cor-do-botao);
}

button:hover{
    color: #00E68A;
    background-color: rgba(0,255,156,0.4);
    border-color: rgba(0,255,156,0.3);
    box-shadow: 3px 3px 5px 1px var(--cor-do-botao);
    transition: 0.3s;
}

input[type="text"] {
    border: 2px solid rgba(0,255,156,0.3);
    border-radius: 0.5rem;
    font-size: 1.25rem;
}

input[type="button"] {
    cursor: pointer;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    border-color: rgba(0,255,156,0.3);
    font-family: var(--font-texto);
    color: var(--cor-de-fundo);
    background-color: var(--cor-do-botao);
}

input[type="button"]:hover{
    color: #00E68A;
    background-color: rgba(0,255,156,0.4);
    box-shadow: 3px 3px 5px 1px var(--cor-do-botao);
    transition: 0.3s;
}

.feedback {
    margin-top: 1.25rem;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    height: 3.125rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

main{
    margin-top: 3rem;
}

.cabecalho_nav {
    display: flex;
    gap: 1rem;

}

.cabecalho_nav_anchor {
    text-decoration: none;
}

.cabecalho_nav_anchor:hover {
    color: #00E68A;
}

.menu-toggle {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

.apresentacao_titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 9.375rem;
}

.titulo {
    font-size: 3rem;
    font-family: var(--font-titulo);
}

.titulo:hover{
    box-shadow: var(--cor-do-botao);
    text-shadow: 1px 1px 2px var(--cor-do-botao);
    color: var(--cor-de-texto);
    transition: 0.3s;
}

.apresentacao_conteudo {
    padding-top: 1.25rem;
    padding-left: 1.25rem;
    padding-bottom: 4rem;
    position: relative;
}

.apresentacao_conteudo_titulo {
    font-size: 2rem;
    font-family: var(--font-titulo);
}

.apresentacao_conteudo_texto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 720px;
    margin: 0 auto;
}

.apresentacao_conteudo_texto p {
    margin-bottom: 18px;
    line-height: 1.7;
}

.apresentacao_conteudo_texto strong {
    color: var(--cor-de-titulo);
    font-weight: 600px;
}

.lista_simples{
    margin: 16px 0;
    padding-left: 20px;
}

.lista_simples li {
    margin-bottom: 6px;
}

.apresentacao_conteudo_texto_office {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.apresentacao_conteudo_mt_links {
    font-family: var(--font-texto);
    color: #F2F2F2;
}

.apresentacao_conteudo_jogos {
    font-family: var(--font-texto);
    color: #F2F2F2;
}

.apresentacao_conteudo_imagem {
    height: 14.375rem;
    width: auto;
    vertical-align: middle;
}

.apresentacao_conteudo_imagem_guias {
    width: 62.5rem;
    height: auto;
}

.apresentacao_conteudo_imagem_m_m_x {
    width: 31.25rem;
    height: auto;
}

.apresentacao_conteudo_imagem_software {
    height: 9.375rem;
    width: auto;
    vertical-align: middle;
}

.conceitos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.conceitos_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.internos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.externos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.legenda {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: white;
}

.softwares {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    flex-wrap: wrap;
}

.sistemas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.apresentacao_conteudo_imagem_sistema {
    height: 25rem;
    width: auto;
}

#mouse_teclado {
    padding-top: 1.25rem;
    padding-left: 1.25rem;
    padding-bottom: 4rem;
    position: relative;
}

.jogos {
    padding-top: 1.25rem;
    padding-left: 1.25rem;
    padding-bottom: 4rem;
    position: relative;
}

.rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    height: 1.875rem;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.apresentacao {
    width: 50%;
    margin: 0 auto;
    box-sizing: border-box;
}

.apresentacao_conteudo,
.jogos,
.mouse_teclado {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.apresentacao_conteudo_imagem_guias,
.apresentacao_conteudo_imagem_m_m_x,
.apresentacao_conteudo_imagem_sistema {
    max-width: 100%;
    height: auto;
}

.cabecalho_container {
    width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 1200px) {

    .cabecalho__menu {
        gap: 5%;
    }

    .apresentacao {
        flex-direction: column;
        padding: 5% 5%;
        gap: 1.875rem;
    }

    img {
        height: 30%;
        width: 30%;
    }

    .apresentacao_conteudo {
        padding: 0;
    }

    .apresentacao_conteudo_texto {
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .apresentacao_conteudo_texto_office {
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center;
        width: 100%;
    }

    .apresentacao_conteudo_imagem_guias {
        width: 23rem;
        height: auto;
    }

    .apresentacao_conteudo_imagem_m_m_x {
        width: 20rem;
        height: auto;
    }

    .apresentacao_conteudo_imagem_sistema {
        height: 10rem;
        width: auto;
    }

    .menu-toggle {
        display: block;
        color: white;
    }

    .cabecalho_nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 10px;
        background: #333;
        padding: 10px;
        border-radius: 8px;
    }

    .cabecalho_nav.show {
        display: flex;
    }
}